<section>
  <section class="main">
        <section>
          <h1>Edit Your Profile</h1>
          <h3> <%= @user.username %></h3>
          <%= form_for @user, class: "ui form" do |f| %>
            <input type="hidden" name="_method" value="PUT"/>

            <div class="field">
              <%=f.label :bio %> <br />
              <%=f.text_field :bio, size: "60", required: true%><br />
            </div>

            <div class="field">
              <%=f.label :question_1 %><br />
              <%=f.text_field :question_1, size: "60", required: true%> <br />
            </div>

            <div class="field">
              <%=f.label :question_2 %><br />
              <%=f.text_field :question_2, size: "60", required: true%><br />
            </div>

            <div class="field">
              <%=f.label :question_3 %><br />
              <%=f.text_field :question_3, size: "60", required: true%><br />
            </div>

            <%= f.submit("Update Profile", class: "ui button") %>
            <%= link_to("Cancel", users_path, class: "ui button")%>
            <% end %>
        </section>
  </section>
</section>
