<section>
  <%= render "layouts/navbar" %>
  <%= render "layouts/sidebar" %>
  <%= render "layouts/flash" %>
  <section class="main">
    <% if @users.length == 0 %>
      <p>
        Sorry, there are currently no users in the system. Come back soon!
      </p>
    <% else %>
    <section>
      <h1>Potential Matches</h1>
        <% @users.each do |user| %>
          <h3> <%= user.username %></h3>
          <p>
            <%= user.bio %>
          </p>
            <section>
              <%= link_to("I'm interested!", new_user_admirer_path(user.id))%>
            </section>
          <% end %>
        </section>
      <% end %>
  </section>
</section>
