<section>
  <h1>Sign Up</h1>

     <%= form_for @user do |f| %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%=f.label :username %>
      <%=f.text_field :username, required: true %> <br />

      <%=f.label :email %>
      <%=f.text_field :email, required: true %><br />

      <%=f.label :password %>
      <%=f.password_field :password, required: true %><br />

      <label>Gender:</label> <br />
      <input type="radio" name="user[gender]" value="male"/> Male<br />
      <input type="radio" name="user[gender]" value="female" checked/> Female <br />

      <label>I'm seeking:</label> <br />
      <input type="radio" name="user[gender_seeking]" value="male" checked/> Males<br />
      <input type="radio" name="user[gender_seeking]" value="female"/> Females <br />

      <%=f.label :bio %>
      <%=f.text_field :bio, size: "60", placeholder: "Tell us a bit about yourself..", required: true%><br />

      <%=f.label :question_1 %>
      <%=f.text_field :question_1, placeholder: "What would you like to know about future admirers?", size: "70", required: true%><br />

      <%=f.label :question_2 %>
      <%=f.text_field :question_2, placeholder: "What would you like to know about future admirers?", size: "70", required: true %><br />

      <%=f.label :question_3 %>
      <%=f.text_field :question_3, placeholder: "What would you like to know about future admirers?", size: "70", required: true %><br />

      <%= f.submit("Sign-up") %>
    <% end %>
    <%= link_to("Login", new_session_path) %><br />
</section>
