<section>
  <section class="navbar">
  <section class="main">
        <section>
          <h1>Your Profile</h1>
          <h2> <%= @user.username %></h2>

          <h3>Bio:</h3>
          <p>
            <%= @user.bio %>
          </p>

          <h3>Question 1</h3>
          <p>
            <%= @user.question_1 %>
          </p>

          <h3>Question 2</h3>
          <p>
            <%= @user.question_2 %>
          </p>

          <h3>Question 3</h3>
          <p>
            <%= @user.question_3 %>
          </p>
          <section>
            <%= link_to("Edit My Profile", edit_user_path(@user.id), class: "ui button")%>
          </section> <br /> <br />
          <%= button_to "Deactivate Account", user_path(@user.id), class: "ui red button", method: :delete, data: { confirm: "Are you sure you want to deactivate your account?" } %>
        </section>
  </section>

</section>
