<section>
<% if @errors %>
<%  @errors.each do |error| %>
  <%= error%>
<% end %>
<% end %>

  <section>
    <%= form_tag(user_admirers_path(@user.id), method: "post", class: "ui form") do %>

      <h3> <%= @user.username %></h3>
      <input type="hidden" name="admirer[user_id]" value ="<%= @user.id%>" />
      <input type="hidden" name="admirer[admirer_id]" value ="<%= current_user.id%>" />

      <p>
        <%= @user.bio %>
      </p>
      <p>
        <%= @user.question_1 %>
      </p>
    <input type="textarea" name="admirer[q1_response]" size ="70" required/> <br />

    <p>
      <%= @user.question_2 %>
    </p><input type="textarea" name="admirer[q2_response]" size ="70" required/> <br />

    <p>
      <%= @user.question_3 %>
    </p><input type="textarea" name="admirer[q3_response]" size ="70" required/> <br />

    <button type="submit" class="ui button">Show Interest</button>
    <%= link_to("Cancel", users_path, class: "ui button")%>
    <% end %>
  </section>
</section>
