<section>
  <%= render "layouts/sidebar" %>
  <%= render "layouts/flash" %>

  <section class="main">
        <section>
          <h1>Potential Matches</h1>
          <h3> <%= @user.username %></h3>
          <p>
            <%= @user.bio %>
          </p>

          <span>Your question:</span>
          <p>
            <%= @user.question_1 %>
          </p>

          <span><%= User.find(@admirer.admirer_id).username%>'s response:</span>
          <p>
            <%= @admirer.q1_response %>
          </p>
          <span>Your question:</span>
          <p>
            <%= @user.question_2 %>
          </p>

          <span><%= User.find(@admirer.admirer_id).username%>'s response:</span>
          <p>
            <%= @admirer.q2_response %>
          </p>

          <span>Your question:</span>
          <p>
            <%= @user.question_3 %>
          </p>

          <span><%= User.find(@admirer.admirer_id).username%>'s response:</span>
          <p>
            <%= @admirer.q3_response %>
          </p>
          <section>
            <%= link_to("I'm interested!", new_user_admirer_path(@user.id))%>
            <%= button_to "Not Interested", user_admirer_path(@user.id, @admirer.id), method: :delete, data: { confirm: "Are you sure you want to deactivate your account?" } %>
            <%= link_to("Back to Admirers", user_admirers_path(current_user.id))%>
          </section>
        </section>
  </section>

</section>
