<div class="ui secondary  menu">
  <% if current_user %>
    <a class="item" href="<%= users_path %>">Home</a>
    <a class="item" href="<%= user_path(current_user.id) %>">My Profile</a>
    <a class="item" href="<%= user_admirers_path(current_user.id)%>">My Admirers (<%=their_admirers.length%>)</a>
    <a class="item" href="<%= conversations_path %>">Mailbox(<%=current_user.conversations.count %>)</a>
  <div class="right menu">
      <span class="item">Welcome, <%=current_user.username %></span>
      <a class="item" href="<%=logout_path%>">Logout</a>
    <% end %>
  </div>
</div>
